#sign-up-modal.modal.fade
	.modal-dialog
		form.modal-content(action="user" method="post")
			.modal-header
				button.close(data-dismiss="modal") &times;
				h4.modal-title Sign Up Here
			.modal-body
				.form-group
					input#user-first-name.form-control(name="firstName" placeholder="First Name")
				.form-group
					input#user-last-name.form-control(name="lastName" placeholder="Last Name")
				.form-group
					input#user-email.form-control(name="email" placeholder="Email")
				.form-group
					input#user-password.form-control(name="password" placeholder="Password")
				.form-group
					input#password-check.form-control(name="passwordCheck" placeholder="Password")
			.modal-footer
				button.btn.btn-default(data-dismiss="modal") Close
				button.btn.btn-default(type="submit" data-loading-text="Saving...") Sign Up