extends layout

block content
	body
		.container.center
			h2 Welcome to Recipe Box!
			if user 
				p Welcome #{user.firstName}
		.container.drag-section
			h3.center#all-boxes-heading Pairing Playground
			.container.center.form-wrapper
				form.center#recipe-box-form(action="destination.html")
					.container.formgroup
						input#recipe-box-input.ingredient(type="text", placeholder="Ingredient", name="ingredient")
						input#submit(type="submit")
			.container.wrapper 
				.container.col-xs-4
					h4 Out Box
					.container.col-xs-12.ing-box#out
				.container.col-xs-4
					.container#ingredients-container.col-xs-12
						h4.col-xs-6 Ingredients
						a.col-xs-6(href='/clear-ing') clear box
					.container.col-xs-12.ing-box#ingredient
				.container.col-xs-4
					h4 Suggestions
					.container.col-xs-12.ing-box#match






			

