extends layout

block content
	body(ng-controller="RecipeController")
		.container
			div(class="row")
				div(class="col-md-12")
					h1(class="recipe-form-heading") Create a New Recipe
					form(id="create-recipe-form" )
						div(class="form-group")
							input(type="text" name="title" class="form-control input-name" placeholder="Recipe Name")

						div(class="form-group")
							textarea(name="description" class="form-control input-description" rows="3" placeholder="Recipe Description")

						div(class="categories-section form-group col-md-6")
							p(class="") Category
							select(name="category" class="form-control input-category")
								option
								option Main Course
								option Side Dish
								option Salad
								option Appetizer
								option Soup/Stews
								option Desserts
								option Snacks
								option Condiments
								option Beverage
								option Bread
						div(class="meal-section form-group col-md-6")
								p Meal
								select(name="meal" class="form-control input-meal")
									option
									option Breakfast
									option Lunch
									option Dinner

						/////////////////////////////////////////////

						div(class="col-md-6 form-group")
							div(class="col-md-12 form-group")
								input(name="prepTime" class="input-prep-time" placeholder="Prep Time")
								select(class="prep-time-units")
									option Minutes
									option Hours
									option Days
							div(class="col-md-12 form-group")
								input(name="cookTime" class="input-cook-time" placeholder="Cook Time")
								select(class="cook-time-units")
									option Minutes
									option Hours
									option Days

								///////////////////

						div(class="col-md-6 form-group")
							div(class="col-md-12 form-group")
								input(name="serves" class"input-serves" placeholder="Serves")

							div(class="col-md-12 form-group")
								input(name="yield" class="input-yield" placeholder="Yield")

						//////// Ingredients Section

						div(class="col-md-12 form-group" )
							p Enter Your Ingredients One at a Time in this form - 5 lbs chicken
							ul(class="enter-ingredient-container" )
					
								li(id="ingredient-list-tpl" class="list")

							div(class="ingredients-input-section form-group")
								input(name="ingredient" class="input-ingredient" placeholder="Ingredient")


								button(id="enter-ingredient-button") Enter Ingredient

						/////   Directions Section

						div(class="directions-input-section form-group")
							textarea(name="directions" class="form-control input-directions" rows="3" placeholder="Directions")


					
						input(type="submit" class="submit-button")











